/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
	font-family: sans-serif;
}
#wrapper{
	/*max-width: 1000px;*/
	/*margin: auto;*/
}
h4, h3, h2, h1{
	text-align: center;
}
h1{
	margin-top: 100px;
}
#test, #results{
	display: inline-block;
	color: black;
	border: 3px solid black;
	box-shadow: 0px 5px 5px black;
	padding: 10px;
	text-decoration: none;
}

#caveat{
	max-width: 25em;
	margin: auto;
	margin-top: 100px;
	border: 3px solid black;
	padding: 20px;
	box-shadow: 0px 5px 10px gray;
}